<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        Exercise 7: Configure constructor injection for BookService,
        using the <constructor-arg> tag instead of <property>.
        BookService also keeps a setter (see setBookRepository), so setter
        injection could equally be configured here for comparison - simply
        replace <constructor-arg> below with:
            <property name="bookRepository" ref="bookRepository"/>
    -->

    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <bean id="bookService" class="com.library.service.BookService">
        <constructor-arg ref="bookRepository"/>
    </bean>

</beans>
